@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Index</h4>
<br />

<a asp-controller="User" asp-action="All">All users</a><br />
<a asp-controller="User" asp-action="SignUp">SignUp</a><br />

