@model List<User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All users:</h2>

<ol>
    @foreach(User user in Model)
    {
        <li>@user.Email <a asp-action="Edit" asp-route-id="@user.Id">edit</a></li>
    }
</ol>