@model SignUpViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>SignUp</h4>

<form asp-controller="User" asp-action="SignUp" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <label asp-for="Password2"></label>
    <input asp-for="Password2" />
    <span asp-validation-for="Password2"></span>
    <br />
    <input type="submit" value="Sign Up" />
</form>


@*@section scripts 
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}*@