
<nav>
    <ul>
        <li><a href="/book/all">All Book</a></li>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="/">Exit</a></li>
    </ul>
</nav>