<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My site</title>
    <link rel="stylesheet" type="text/css" href="~/styles.css" asp-append-version="true" />
</head>
<body>
    <h4>Site about Authentication</h4>
    <hr/>
    @RenderBody()
</body>
</html>
