<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <h2>Our site about books</h2>

    @RenderBody()

    <footer>
        <hr/>
        My footer
    </footer>

</body>
</html>