@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Index page</h4>

<a asp-controller="Account" asp-action="Index">User Page</a><br />
<a asp-controller="Account" asp-action="SignUp">Sign Up</a><br />
<a asp-controller="Account" asp-action="SignIn">Sign In</a><br />
<a asp-controller="Admin" asp-action="Index">Admin Page</a><br />
<a asp-controller="Home" asp-action="PagG">Page G</a><br />
