<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site about users</title>
    <link rel="stylesheet" href="~/styles.css" type="text/css" asp-append-version="true" />
        
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    
</head>
<body>
    <h4>Site about users</h4>
    <hr />
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>